# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# フロントエンド関連
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# バックエンド関連
# Python
backend/__pycache__/
backend/**/__pycache__/
backend/*.py[cod]
backend/*$py.class
backend/*.so
backend/.Python
backend/env/
backend/venv/
backend/.env
backend/.venv
backend/ENV/
backend/env.bak/
backend/venv.bak/
backend/pythonenv*
backend/.pytest_cache/
backend/htmlcov/
backend/.coverage
backend/.coverage.*

# 全般的な設定
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# エディタ設定
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Docker
.dockerignore
docker-compose.override.yml

# キャッシュ
*.log
*.pot
*.pyc
__pycache__/
